{% extends 'index.html' %}

{% load poll_extras %}

{% block header_title %}
    Blogs List
{% endblock %}

{% block content %}
    {% for blog in object_list %}
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">Блог - {{ blog|get_user_by_blog }}</h2>
                {% if blog.pk|inside:signed_blogs %}
                    <a href="{% url 'subscribe-blog' blog.pk %}" class="btn btn-danger float-right">Отписаться </a>
                {% else %}
                    <a href="{% url 'subscribe-blog' blog.pk %}" class="btn btn-success float-right">Подписаться </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}