{% extends 'index.html' %}

{% load poll_extras %}

{% block header_title %}
    Posts
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-text">{{ post.text }}</p>
                <a href="{% url 'read-post' post.pk %}" class="btn btn-success float-right">Отметить прочитанным</a>
                <a href="{% url 'post-detail' post.pk %}" class="btn btn-primary float-left">Подробно</a>
            </div>
            <div class="card-footer text-muted">
                Опубликовано в {{ post.date|date:"M d Y H:i" }} от
                <a href="#">{{ post.blog|get_user_by_blog }}</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}