{% extends 'index.html' %}

{% block header_title %}
    Post Detail
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.text }}</p>
        </div>
        <div class="card-footer text-muted">
            Опубликовано в {{ post.date|date:"M d Y H:i" }}
        </div>
    </div>
{% endblock %}